{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question | Edu Home</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css'%}">
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css'%}">
    <style type="text/css">

      .peda{
          color: rgb(0, 0, 0) !important;
          margin-top: 100px;
          text-align: center;
          background-color: white;
          background-size: cover; 
          background-repeat: no-repeat;
          padding-top: 80px;
          padding-bottom: 70px;
          }
      @media(max-width: 767px){
        #fod{
          margin-bottom: 18px;
        }
      }
    </style>
</head>

<header>
<section>
            <div class="container fixed-top col-12">
                <div class="row">
                    <div class="col-md-4" id="fod">
                        <a class="ma" >Edu Home </a>
                    </div>
                        <div class="col ">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
                                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="border-color: red; background-color: cornsilk; height: 30px; margin-left: 90%; margin-top: -50px; margin-bottom: 15px;">
                                </button>
                                <div class="collapse navbar-collapse eat" id="navbarNavAltMarkup">
                                  <div class="navbar-nav dan" >
                                    <a class="nav-item   emer" href="{% url 'index'%}">Home</a>
                                    <a class="nav-item  active emer" href="{% url 'schedule'%}">Schedules </a>
                                    <a class="nav-item  active emer" href="{% url 'question'%}">Ask Questions <span class="sr-only">(current)</span></a>
                                    <a class="nav-item  active emer" href="{% url 'contact'%}">Contact us   <span class="sr-only">(current)</span></a>
                                  </div>
                                </div>
                              </nav>
                        </div>
                    
                </div>
            </div>
</section>
</header>

<body>
<section class="peda">
     <h1 style="padding-bottom: 20px;" > About Us </h1>
     <h5 class="" style=" font-size: 15px; margin-left: 200px; margin-right: 200px; line-height: 30px;"> 
      Over the years, failure rate in English Language and General
        Mathematics has been comparatively higher than it is with other school 
        subjects, the persistent high failure rates have been attributed to many
         factors including low quality of teachers and deplorable state of teaching
          and learning facilities in schools. The few trained teachers are themselves
           products of lowly pedagogical standard. Motivation among teaching staff 
           members is low especially in public schools. Most of those that partake
            in the January series of WASSCE are private candidates who failed to
             obtain minimum credit passes in relevant subjects in previous attempts.
              Unfortunately, these groups of students are poorly prepared for the
               examination.<br><br>Edu Home is connecting highly motivated and standard 
               tutors in mathematics and English Language with Exam year students
                across West Africa who do not have access to quality and expensive 
                education virtually for Free.Edu home also offer virtual live support
                 to students who find it difficulty in researching for quality contents
                  from the largest and most voluminous library in the world (the internet)
                   Also our virtual support, listen to the complains of students and recommend
                    credible guide for them to arrive at their desired information resolve 
                    using machine learning, we are simply improving how students search for
                     educational resources online too with our Ask us function.</h5>
</section>

</body>

<footer>
    <section>
                <div class="container col-12">
                    <div class="row">
                      <div class="col boy mom">
                        <h2 style="margin-top: 20px;">
                          Partnership
                        </h2>
                        <h5 class="vol">We are open to collaboration and partnerships with well meaningful individuals</h5>
                      </div>
    </section>
            
    <section>
              <div class="container col-12 " style="background-color: black;">
                <div class="row">
                <div class="w-100"></div>
                <div class="col girl">
                  About us
                  <p class="jar">Over the years, failure rate in English Language and General
                      Mathematics has been comparatively higher than it is with other school......
                  </p>
                  <button class="button"><a href="{% url 'about'%}" class="so">Button </a></button>
                </div>
                <div class="col girl">
                  More Links
                  <ul class="ink" style="cursor: pointer">
                      <li>  <i class=" fa fa-home"></i> <a class="bubu" href="{% url 'index'%}">Home </a></li>
                      <li>  <i class=" fa fa-phone"></i><a class="bubu" href="{% url 'about'%}"> About us </a></li>
                      <li>  <i class=" fa fa-phone"></i><a class="bubu" href="{% url 'registration'%}"> Registration </a></li>
                      <li>  <i class=" fa fa-phone"></i><a class="bubu" href="{% url 'schedule'%}"> Schedules </a></li>
                      <li>  <i class=" fa fa-phone"></i><a class="bubu" href="{% url 'contact'%}"> Contact us </a></li>
                    </ul>
                </div>
                <div class="col girl hil">
                    Reach us <br>
                    <p class="ink jar"> <i class=" fa fa-home"></i> EfexO2 Building,<br>
                      Same Tantalizer Building <br>
                      Beside Ecobank <br>
                      Uselu Shell, Along Ugbowo <br>
                      Lagos Road, Benin City, <br>
                      Edo State. <br>
                      <i class=" fa fa-phone"></i> 08157513979</p>    
                  </div>
              </div>
            </div>
            </div>
            </div>
    </section>
              
    <script src="{% static 'jquery/jquery.min.js'%}"></script>
    <script src="{% static 'jquery/bootstrap.min.js'%}"></script>
</footer>
</html>